<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
      <a *ngFor="let invitation of invitations" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img [src]="invitation.avatarUrl" alt="Avatar" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{invitation.title}}</h6>
            <p class="mb-0 opacity-75">{{invitation.message}}</p>
          </div>
          <div>
            <button class="btn btn-success me-2" (click)="Accept(invitation)"><i class="bi bi-check-lg"></i></button>
            <button class="btn btn-danger" (click)="Delete(invitation)"><i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </a>
    </div>
  </div>
  