
<div class="card shadow mb-4 border-0">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Company Membres </h6>
      
    </div>
    <div class="card-body">
    <div class="list-group">
      <a (click)="navigateToProfile(user.id, $event)" class="list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let user of users" style="margin-bottom: 10px;">
        <img src="https://www.vhv.rs/dpng/d/544-5445462_people-icons-png-flat-person-icon-png-transparent.png" alt="user avatar" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h6>
            <p class="mb-0 opacity-75">{{ user.email }}</p>
          </div>
          <button mat-raised-button color="primary" (click)="navigateToProfile(user.id, $event)">
            <i class="bi bi-chat-left-dots-fill"></i> Contact
          </button>
                  </div>
      </a>
    </div>
  </div>