/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100vh; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Override Bootstrap CSS to prevent background from becoming gray and unclickable when modal is shown */
.modal-open {
    overflow: visible !important;
  }
